
{%  load static %}

{%   block body %}

{%   include 'student_navigation.html'%}



<hr>
<div class="container">
    <div class="Jumbotron">
    <div class="row">
        <div class="col-sm-12">

                                                                                               {% if messages %}
  {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">
      ×
      </button>
      <strong>{{message}}<strong>
    </div>
 {% endfor %}
{% endif %}


<form  action="/add"  method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
       <div class="form-group col-md-3">
                    <input placeholder="Group1" type="text" class="form-control" name="group1" value="" >
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Group2" type="text" class="form-control" name="group2" value="" >
                </div>

                <div class="form-group col-md-3">

                    <input placeholder="Group3" type="text" class="form-control" name="group3" value="" >
                </div>
                <div class="form-group col-md-3">

                    <input placeholder="Group4" type="text" class="form-control" id="f5" name="group4" value="">
                </div>

                <div class="form-group col-md-3">

                    <input placeholder="Group5" type="text" class="form-control" id="f6" name="group5" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Group6" type="text" class="form-control" id="f7" name="group6" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Group7" type="text" class="form-control" name="group7" value="">
                </div>


                <div class="form-group col-md-3">
                    <input  placeholder="Group8" type="text" class="form-control" id="f8" name="group8" value="" >
                </div>
        <div class="form-group col-md-3">

                    <input placeholder="Group9" type="text" class="form-control" name="group9" value="" >
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Group10" type="text" class="form-control" name="group10" value="">
                </div>



            </div>

        <div class="form-row">
               <div class="form-group col-md-4">
                <label>Salutation:-</label>

                <div style="border:1px solid lightgray; padding:3px; border-radius:3px;">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline" name="Salutation" class="custom-control-input" value="Ms.">
                        <label class="custom-control-label" for="customRadioInline">Ms.</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="Salutation" class="custom-control-input" value="Mrs." checked>
                        <label class="custom-control-label" for="customRadioInline2">Mrs.</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline3" name="Salutation" class="custom-control-input" value="Mr.">
                        <label class="custom-control-label" for="customRadioInline3">Mr.</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline4" name="Salutation" class="custom-control-input" value="Dr.">
                        <label class="custom-control-label" for="customRadioInline4">Dr.</label>
                    </div>
                </div>

               </div>

            <div>
                        <div class="form-row">
                                            <div class="form-group col-md-3">
                    <input placeholder="First Name" type="text" class="form-control" id="fn11" name="firstname" value="" required>
                </div>
                <div class="form-group col-md-3">
                    <input placeholder="Middle Name" type="text" class="form-control" id="mn11" name="middlename" value="" >
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Last Name" type="text" class="form-control" id="ln11" name="lastname" value="" >
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Primary Number" type="number" class="form-control" maxlength="10"  name="primarynumber" value="" >
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Alternate Number" type="number" class="form-control" maxlength="10"  name="alternatenumber" value="">
                </div>
    <div class="form-group col-md-3">
                    <input placeholder="Primary Mail" type="email" class="form-control"  name="PrimaryMail" value="" >
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Alternate Mail" type="email" class="form-control"  name="AlternateMail" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Location" type="text" id="f12" class="form-control" name="location" value="" >
                </div>
                 <div class="form-group col-md-3">
            <input placeholder="City" type="text" class="form-control" name="city" value="" >
        </div>
        <div class="form-group col-md-3">
            <input placeholder="State" type="text" class="form-control" name="state" value="" >
        </div>
        <div class="form-group col-md-3">
            <input placeholder="Country" type="text" class="form-control" name="country" value="" >
        </div>
        <div class="form-group col-md-3">
            <input placeholder="Pincode" type="text" class="form-control" name="pincode" value="" >
        </div>
        <div class="form-group col-md-3">
            <input placeholder="Designation" type="text" class="form-control" name="Designation" value="" >
        </div>
                <div class="form-group col-md-3">
                    <input placeholder="Primary Expertise" type="text" class="form-control" name="PrimaryExpertise" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Alternate Expertise1" type="text" class="form-control" name="AlternateExpertise1" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Alternate Expertise2" type="text" class="form-control" name="AlternateExpertise2" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Highest Education" type="text" class="form-control" name="HighestEducation" value="" >
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Gender" type="text" class="form-control" name="gender" value="" >
                </div>

            <div>
                                      <div class="form-row mt-2">
                                            <div class="form-group col-md-3">
                   DOB: <input type="date" class="form-control" id="f13" name="DOB" value="" >
                </div>
                <div class="form-group col-md-3">
Message Open:<input style="width:30px;height:20"  type="checkbox" class="form-control" id="f14" name="MessageOpen" value="1">                </div>

                <div class="form-group col-md-3">
                  Responded:  <input style="width:30px;height:20" type="checkbox" class="form-control" name="Responded" value="1">
                </div>

                <div class="form-group col-md-3">
                   Link Clicked: <input style="width:30px;height:20" type="checkbox" class="form-control" name="LinkClicked" value="1">
                </div>

                <div class="form-group col-md-3">
                   Source: <input type="text" class="form-control" name="Source" value="">
                </div>
    <div class="form-group col-md-3">
                    Org Name:<input type="text" class="form-control" name="OrgName" value="">
                </div>

                <div class="form-group col-md-3">
<input placeholder="Nature Of Business:" type="text" class="form-control" id="f15" name="NatureOfBusiness" value="">                </div>

                <div class="form-group col-md-3">
<input placeholder="Org Location:" type="text" class="form-control" id="f16" name="OrgLocation" value="">                </div>
                 <div class="form-group col-md-3">

                   Do Not Call: <input style="width:30px;height:20" type="checkbox" class="form-control" name="DoNotCall" value="1">
        </div>
        <div class="form-group col-md-3">
                   Do Not Message <input style="width:30px;height:20" type="checkbox" class="form-control" name="DoNotMessage" value="1">
        </div>
        <div class="form-group col-md-3">
                    Do Not Mail:<input style="width:30px;height:20" type="checkbox" class="form-control" name="DoNotMail" value="1">
        </div>
        <div class="form-group col-md-3">
                    Do Not Whatsapp:<input style="width:30px;height:20" type="checkbox" class="form-control" name="DoNotWhatsapp" value="1">
        </div>
        <div class="form-group col-md-3">
           Do Not Disturb:<input style="width:30px;height:20" type="checkbox" class="form-control" id="f17" name="DoNotDisturb" value="1">
        </div>
                <div class="form-group col-md-3">
                    <input placeholder="Notes1:" type="text" class="form-control" id="f18" name="Notes1" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Notes2" type="text" class="form-control" name="Notes2" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Notes3" type="text" class="form-control" name="Notes3" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Notes4" type="text" class="form-control" name="Notes4" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Notes5" type="text" class="form-control" name="Notes5" value="">
                </div>

            <div>

                <div class="form-row mt-3">
                                            <div class="form-group col-md-3">
                    <input placeholder="Remark" type="text" class="form-control" id="f19" name="Remark" value="">
                </div>
                <div class="form-group col-md-3">
                    <input placeholder="Document Attach" type="file" class="form-control" id="f20" name="DocumentAttach" value="">
                </div>

                <div class="form-group col-md-3">
                   Called: <input style="width:30px;height:20" type="checkbox" class="form-control" name="Called" value="1">
                </div>

                <div class="form-group col-md-3">
                    Met:<input style="width:30px;height:20" type="checkbox" class="form-control" name="Met" value="1">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Full Name" type="text" class="form-control"  id="fulln11" name="FullName" value="" readonly>
                </div>
    <div class="form-group col-md-3">
                   Out Of Station: <input style="width:30px;height:20" type="checkbox" class="form-control" name="OutOfStation" value="1">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Out Of Country" type="text" class="form-control" id="f21" name="OutOfCountry" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Generated Pin Code" type="text" class="form-control" id="f22" name="GeneratedPinCode" value="">
                </div>
                 <div class="form-group col-md-3">
                    Mark For Deletion:<input style="width:30px;height:20" type="checkbox" class="form-control" name="MarkForDeletion" value="1">
        </div>
        <div class="form-group col-md-3">
                    <input placeholder="Reason For Deletion:" type="text" class="form-control" name="ReasonForDeletion" value="">
        </div>
        <div class="form-group col-md-3">
                    <input placeholder="Big Link:" type="text" class="form-control" name="BigLink" value="">
        </div>
        <div class="form-group col-md-3">
                    <input placeholder="Website" type="text" class="form-control" name="Website" value="">
        </div>
        <div class="form-group col-md-3">
                    <input placeholder="Linkedin Link:" type="text" class="form-control" name="LinkedinLink" value="">        </div>
                <div class="form-group col-md-3">
                    <input placeholder="Instagram Link:" type="text" class="form-control" name="nstagramLink" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Youtube Link:" type="text" class="form-control" name="YoutubeLink" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Facebook Link:" type="text" id="f23" class="form-control" name="FacebookLink" value="">
                </div>

                <div class="form-group col-md-3">
                    <input placeholder="Social Media Other:" type="text" id="f24" class="form-control" name="SocialMediaOther" value="">
                </div>
                    <div class="form-group col-md-3">
                    <input placeholder="Enter By:" type="text" id="f24" class="form-control" name="EnterBy" value="">
                </div>
                    <div class="form-group col-md-3">
                    <input placeholder="Changedate:" type="text" id="f24" class="form-control" name="Changedate" value="">
                </div>
                    <div class="form-group col-md-3">
                    <input placeholder="Changetime:" type="text" id="f24" class="form-control" name="Changetime" value="">
                </div>


            <div>


<br><br><br>
            <input type="submit" value="Add Data" class="btn btn-primary my-3" style="width: 200px;">


    </div>
    {% comment %} <div class="cl-sm-4 mt-5" text-center>
        <img src="{{email.profilepic.url}}" style="width:300px; height:300px;">
    </div> {% endcomment %}
    </div><!--row 1 end-->
</div>
</div>
<script>
$("#fn11,#mn11,#ln11").keyup(function(){
    update();
});
function update() {
  $("#fulln11").val($('#fn11').val() + " " + $('#mn11').val() + " " + $('#ln11').val());
}
</script>
{%   endblock %}


